---
Language: Cpp
BasedOnStyle: Google

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterReturnType: TopLevelDefinitions
AlwaysBreakTemplateDeclarations: Yes
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 80
DeriveLineEnding: false
ExperimentalAutoDetectBinPacking: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^(<|")ns3/'
    Priority: 2
    SortPriority: 0
  - Regex: "^<"
    Priority: 3
    SortPriority: 0
  - Regex: ".*"
    Priority: 1
    SortPriority: 0
KeepEmptyLinesAtTheStartOfBlocks: false
PackConstructorInitializers: Never
PointerAlignment: Left
QualifierAlignment: Left
SeparateDefinitionBlocks: Always
Standard: "c++17"
